#container > li {
    background-color: lightpink;
    color:aqua;
}

#box > li {
    background-color: lightgreen;
    color: purple;
}

#box1 > li {
    background-color: lightblue;
    color: brown;
}