#container {
    background-color: aquamarine;
    color: blue;
    font-size: 25px;
   
    
    button {
 
        
        
a {
  color: blue;
}

/* State when the user hovers over the link */
a:hover {
  color: red;
}

}

}