#transition-container {
    background-color:lightblue;
    width: 100px;
    height: 100px;
    color: white;
    position: relative;
    transition: all 2s ;
}

#transition-container:hover {
    height: 600px;
    width: 600px;
    cursor: pointer;
    background-color: red;
}